@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  height: revert-layer;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

@layer components {
  .glowing {
    @apply before:absolute 
        before:h-[500px] 
        before:w-full 
        before:-translate-x-1/4
        before:translate-y-1/4
        before:md:translate-y-0
        before:rounded-full
        before:bg-gradient-radial
        before:from-purple-800
        before:via-purple-400
        before:to-transparent
        before:opacity-50
        before:blur-3xl
        before:content-['']  
        before:dark:bg-gradient-to-br
        before:dark:from-transparent
        before:dark:to-blue-500
        before:dark:opacity-70
        before:lg:h-[460px]
        sm:before:w-[680px]
        before:animate-pulse-slow
        after:opacity-70
        after:-z-20
        after:h-1/2
        after:sm:h-[480px]
        after:w-2/3
        after:md:w-4/5
        after:translate-x-1/2
        after:translate-y-1/4
        after:md:translate-x-0
        after:md:translate-y-0
        after:bg-gradient-conic
      after:from-sky-500
      after:to-blue-400
        after:blur-3xl after:content-['']
        after:absolute
      after:dark:from-sky-400
      after:dark:via-[#0a2988]
        after:dark:opacity-40
        after:animate-pulse-slow;
  }
}
